################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PK.BuildingBlocks.Infrasturcture/.vs/PK.BuildingBlocks.Infrastructure
